/* Bottom container
   ========================================================================== */
.bottom-container {
  display: flex;
  height: 80px;
  justify-content: center;
  padding-bottom: 5px;
  padding-top: 20px;

  p {
    display: inline-block;
    margin: 0;
    padding: 10px;
  }
}
