/* Header
   ========================================================================== */
header {
  background: $header-bg;
  margin-bottom: 2em;
  position: fixed;
  top: 0px;
  width: 100%;
}

.eos-logo-color-gradients {
  background-image: linear-gradient(135deg, $header-gradient-initial 0%, $header-gradient-middle 50%, $header-gradient-final 100%);
}

.version {
  font-size: $header-version-font-size;
}

.toolbar {
  padding: 10px;
}
