$icons-picker-select-margin: 10px 25px;
$icons-picker-select-icon-padding: 6px;
$icons-picker-deselect-icon-padding: 3px;
$icons-picker-icons-count-padding: 10px;
$icons-picker-footer-padding-bottom: 15px;
$icons-picker-generate-button-padding: 8px;
$icons-picker-generate-button-border-radius: 20px;
$icons-picker-loading-background-color: rgba(0, 0, 0, 0.7);
$icons-picker-loading-icon-font-size: 100px;
$icons-picker-loading-icon-margin-top: 200px;
$icons-picker-loading-text-margin-top: 25px;
$icons-picker-container-h3-margin-bottom: 25px;
